body {
	
}

#teste {
	margin: 0 auto;
	padding:10px;
	width:450px;
	height:320px;
	border:1px solid #000;
	background-image: url(../imagens/odontoBase.jpg);
	background-repeat:no-repeat;
        font-family: none;
        font-size: 10px;
}


/* SUPERIOR ADULTA */
#teste div#superiorAdulta {
	margin: 0px;
	padding: 0px;
}
#teste div#superiorAdulta div {
	display:inline;
	float:left;
	width:22px;
	height:26px;
		/*border:1px solid #000;*/
	margin:0px 3px 0px 0px;
	
}
#teste div#superiorAdulta div.afastamento1 {
	margin:0px 0px 0px 22px;
}
#teste div#superiorAdulta div.afastamento2 {
	margin:0px 5px;
}
#teste div#superiorAdulta div a {
	display: inline;
}
#teste div#superiorAdulta div span {
	margin:0px;
	font-weight:bold;
	width:10px;
	text-align:center;
}

/* SUPERIOR INFANTIL */
#teste #superiorInfantil {
	margin: 0px 0px 0px 84px;
	padding: 0px;
}
#teste #superiorInfantil div {
	display:inline;
	float:left;
	width:22px;
	height:26px;
		/*border:1px solid #000;*/
	margin:0px 3px 0px 0px;
}
#teste #superiorInfantil div.afastamento1 {
	/*margin:0px 8px 0px 54px;*/
	margin: 0 0 0 20px;
}
#teste #superiorInfantil div.afastamento2 {
	margin:0px 5px;
}
#teste div #superiorInfantil div a {
	display: inline;
}
#teste #superiorInfantil div span {
	margin:0px;
	font-weight:bold;
	width:10px;
	text-align:center;
}


/* INFERIOR INFANTIL */
#teste #inferiorInfantil {
	margin: 0px 0px 0px 84px;
	padding: 0px;
}
#teste #inferiorInfantil div {
	display:inline;
	float:left;
	width:22px;
	height:26px;
		/*border:1px solid #000;*/
	margin:0px 3px 0px 0px;
}
#teste #inferiorInfantil div.afastamento1 {
	/*margin:0px 8px 0px 54px;*/
	margin: 0 0 0 20px;
}
#teste #inferiorInfantil div.afastamento2 {
	margin:0px 5px;
}
#teste div #inferiorInfantil div a {
	display: inline;
}
#teste #inferiorInfantil div span {
	margin:0px;
	font-weight:bold;
	width:10px;
	text-align:center;
}


/* INFERIOR ADULTA */
#teste #inferiorAdulta {
	margin: 0px;
	padding: 0px;
}
#teste #inferiorAdulta div {
	display:inline;
	float:left;
	width:22px;
	height:26px;
		/*border:1px solid #000;*/
	margin:0px 3px 0px 0px;
}
#teste #inferiorAdulta div.afastamento1 {
	margin: 0 0 0 22px;
}
#teste #inferiorAdulta div.afastamento2 {
	margin:0px 5px;
}
#teste div #inferiorAdulta div a {
	display: inline;
}
#teste #inferiorAdulta div span {
	margin:0px;
	font-weight:bold;
	width:10px;
	text-align:center;
}


/* BOTOES DAS PALETAS DE CORES */

#btCariado:link, #btCariado:visited  {
	width:124px;
	height:30px;		
	display:block;
	float:left;
	background-image:url('../imagens/botaoOdontoCariado.jpg');
	background-repeat:no-repeat;
	margin:3px 7px;
}
#btRestaurado:link, #btRestaurado:visited  {
	width:124px;
	height:30px;		
	display:block;
	float:left;
	background-image:url('../imagens/botaoOdontoRestaurado.jpg');
	background-repeat:no-repeat;
	margin:3px 7px;
}
#btHigido:link, #btHigido:visited  {
	width:124px;
	height:30px;		
	display:block;
	float:left;
	background-image:url('../imagens/botaoOdontoHigido.jpg');
	background-repeat:no-repeat;
	margin:3px 7px;
}

/* CASOS DE HOVER */
#btCariado:hover, #btCariado:active, #btCariado:focus {
	width:124px;
	height:30px;		
	display:block;
	float:left;
	background-image:url('../imagens/botaoOdontoCariadoHover.jpg');
	background-repeat:no-repeat;
	margin:3px 7px;
}
#btRestaurado:hover, #btRestaurado:active, #btRestaurado:focus {
	width:124px;
	height:30px;		
	display:block;
	float:left;
	background-image:url('../imagens/botaoOdontoRestauradoHover.jpg');
	background-repeat:no-repeat;
	margin:3px 7px;
}
#btHigido:hover {
	width:124px;
	height:30px;		
	display:block;
	float:left;
	background-image:url('../imagens/botaoOdontoHigidoHover.jpg');
	background-repeat:no-repeat;
	margin:3px 7px;
}

/* Classes */
.tipo1 {
	color:red;
	margin-left:50px;
	display:inline;
}
.blue {
	background-color: blue;		
}
.red {
	background-color: red;		
}
.black {
	background-color: black;		
}

/* Ajustes 1px */
#dente10, #dente12, #dente15, #dente14, #dente25, #dente26, #dente35, 
#dente36, #dente46, #dente48, #dente49, #dente50 , #dente51  {
    margin-left: 1px;
}
